<nav class="navbar">
  <a (click)="home()" routerLink="/">Home</a>
  <a (click)="about()" routerLink="/about">About</a>
  <a (click)="contact()" routerLink="/contact">Contact</a>
  <a (click)="parent()" routerLink="/parent">Parent</a>
  <a (click)="table()" routerLink="/table">Table</a>
  <a (click)="one()" routerLink="/table">One</a>
  <a (click)="two()" routerLink="/table">Two</a>
  <a (click)="serviceparent()" routerLink="/serviceparent">ServiceParent</a>
  <a (click)="servicechildd()" routerLink="/servicechildd">Servicechildd</a>
  <a (click)="api()" routerLink="/api">api</a>
  <a (click)="comp()" routerLink="/">comp</a>
  <a (click)="testing()" routerLink="/">testing</a>
  <a (click)="accountForm()" routerLink="/">Account</a>
  <a (click)="forms()" routerLink="/">Forms</a>

</nav> 
