.demo {
  background-color: lightgreen;
  max-height: 400%;
  padding-top: 50px;
  max-width: 400%;

}
.demo1 {
  width: 30%;
  background-color: white;
  text-align: center;
  padding: 5%;
  margin: auto;
  max-width: 400%;
  
}


label {
  font-size: 25px;
}

#name,
#password,
#age,
#dob {
  background-color: lightgray;
  border: none;
  padding: 12px;
  width: 30%;
  font-size: 10px;
  text-transform: capitalize;
}

button {
  background-color: lightgreen;
  color: white;
  border: none;
  width: 100px;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
}

p {
  display: block;
  color: lightgray;
  font-size: 20px;
}

#dob {
  margin-left: 50px;
}

#age {
  margin-left: 60px;
}

#name {
  margin-left: 40px;
}

span {
  color: lightgreen;
}

.exist {
  color: red;
  margin: 0%;
}
#next{
margin-top: 20px;
}

.test1{
  color: red;
}
.test2{
  color: yellowgreen;
}